* {
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}

#color-library {
  display: flex;
  flex-wrap: wrap;
  max-width: 124px;
  background-color: lightgray;
}

.cell {
  width: 40px;
  height: 40px;
}